/* css styles */

/* Center all image descriptions */
figure figcaption {
  text-align: center;
  margin-top: 0.5em; /* Increase the spacing between the image and the text. */
  color: #555; /* Adjust the caption color to be slightly lighter than the body text */
}


